body {
    background-color: #f8f9fa !important;
}
.experience-date {
    font-size: 14px;
    color :#828282
}
.skills .progress {
    height: 5px;
}
.language-used {
    font-size: 14px;
    color :#828282
}